@import url(./style.css);

#canvasViewport {
  position: relative;
  overflow: hidden;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  height: 2160px;
  transform-origin: 0 0;
  image-rendering: pixelated;
  cursor: grab;
}

#main:active {
  cursor: grabbing;
}

#relevantRows td:nth-child(3) {
  text-align: right;
}

#relevantRows td:nth-child(4) {
  text-align: right;
}

.range-container {
  display: flex;
  flex-wrap: wrap;
}

.range-container input[type="range"] {
  flex-grow: 1;
}
