#main {
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: 16 / 9;
}

#relevantRows td:nth-child(3) {
  text-align: right;
  font-family: Verdana;
}

#relevantRows td:nth-child(4) {
  text-align: right;
  font-family: Verdana;
}

.range-container {
  display: flex;
  flex-wrap: wrap;
}

.range-container input[type="range"] {
  flex-grow: 1;
}

body {
  background: #eff;
}

audio {
  width: unset;
}

#soundClips {
  border-collapse: collapse;
  font-family: Verdana;
}

#soundClips tr td {
  padding: 0 0.5em;
}

#soundClips td:nth-child(1) {
  text-align: right;
  font-family: Verdana;
}

#soundClips td:nth-child(2) {
  text-align: right;
  font-family: Verdana;
}

#soundClips td:nth-child(3) {
  text-align: right;
  font-family: Verdana;
}

#audioViewer {
  cursor: col-resize;
}

.white-glow td {
  box-shadow: 5em 10em rgb(255 255 255 / 36%) inset;
}

.emptyTableMessage:not(:nth-child(2)) {
  display: none;
}
