#canvasViewport {
  position: relative;
  overflow: hidden;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  height: 2160px;
  transform-origin: 0 0;
  image-rendering: pixelated;
  cursor: grab;
}

#main:active {
  cursor: grabbing;
}

#relevantRows td:nth-child(3) {
  text-align: right;
  font-family: Verdana;
}

#relevantRows td:nth-child(4) {
  text-align: right;
  font-family: Verdana;
}

.range-container {
  display: flex;
  flex-wrap: wrap;
}

.range-container input[type="range"] {
  flex-grow: 1;
}

body {
  background: #eff;
}

audio {
  width: unset;
}

#soundClips {
  border-collapse: collapse;
  font-family: Verdana;
}

#soundClips tr td {
  padding: 0 0.5em;
}

#soundClips td:nth-child(1) {
  text-align: right;
  font-family: Verdana;
}

#soundClips td:nth-child(2) {
  text-align: right;
  font-family: Verdana;
}

#soundClips td:nth-child(3) {
  text-align: right;
  font-family: Verdana;
}

#audioViewer {
  cursor: col-resize;
}

.emptyTableMessage:not(:nth-child(2)) {
  display: none;
}
